$main-txtcolor: #FFFFFF;
$alt-txtcolor: #E8E8E8;
$main-pagecolor: #5474FD;
$hover-color:#9dadf3;
$bgcolor-dark:#333333;
$bgcolor-opac:#232323cc;

$josefin: "Josefin Sans", sans-serif;
$aleo: "Aleo", serif;

