@use 'colorsfonts';

body{
    color: colorsfonts.$main-txtcolor;
}

.bg{
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    max-width: 100vw;
    height: 100vh;                 /* <<<<----- -vet inte riktigt. */ 
}

header{
    background-image: url(../images/bg_top.png);
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    font-family: colorsfonts.$josefin;
}

h1 {
    font-size: 8vh;
    line-height: 10px;
    margin:10px;
}

h2{
    font-size: 2vw;
    letter-spacing: 7px;
    font-weight: 300;
    margin: 20px;
}

form{
    background-color: white;
    padding: 3px 3px;
    margin-top: 25px;
}

#searchbar{
    border-style: none;
    text-align: center;
    opacity: 0.5;
}

nav{
    max-width: 100vw;
    width: 100%;
    background-color: colorsfonts.$main-pagecolor;
}

.nav-list{
    overflow: hidden;
    list-style-type: none;
    margin: 0 15%;
    padding: 0;  
}

.nav-list a{
    float: left;
    display: flex;
    align-items: center;
    color: colorsfonts.$main-txtcolor;
    text-align: center;
    padding: 24px 16px;
    text-decoration: none;
    font-size: 14px;
    font-family: colorsfonts.$aleo;
}

#nav-logo{
    font-family: colorsfonts.$josefin;
    font-size: 24px;
    padding: 18px;
    position: relative;
    line-height: 28px;
    font-weight: bold;
}
.nav-list a:hover{
    background-color: colorsfonts.$hover-color;
    color: colorsfonts.$bgcolor-dark;
    transition: all 0.5s;
}

.nav-list li:not(:first-child){ float:right;}

.scrolldown{
    text-align: center;
}